.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  padding: 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; /* Center text vertically */
  border-radius: 25px; /* Adding border radius for rounded corners */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Adding transition for smoother hover effect */
  letter-spacing: 1px; /* Increasing letter spacing for better readability */

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}
