.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  padding: 20px;
  border: 1px solid rgb(158, 17, 17);
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  opacity: 0; /* Initially set to be invisible */
  animation: fadeIn 0.5s ease forwards; /* Animation to fade in */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px); /* Optional: Add a slight vertical offset */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cart-items {
  height: 240px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.empty-message {
  font-size: 18px;
  margin: 50px auto;
}

button {
  margin-top: auto;
}
