// .collections-overview{
//     display: flex;
//     flex-direction: column;
// }
.collections-overview {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }
  
  /* Optional: Add styling to each individual collection */
  .collection-item {
    margin-bottom: 20px; /* Add spacing between each collection item */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
    border-radius: 8px; /* Add border radius for rounded corners */
    overflow: hidden; /* Hide overflow content */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth hover effects */
  
    &:hover {
      transform: translateY(-5px); /* Move the collection item up slightly on hover */
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Add stronger box shadow on hover */
    }
  }
  