.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: #f8f9fa;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Adding transition for background color and transform */
  animation: bounce 0.5s infinite alternate; /* Adding animation for a subtle bouncing effect */

  &:hover {
    background-color: #e9ecef;
  }

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  .item-count {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    bottom: 8px;
    right: 8px;
    background-color: #007bff;
    color: #fff;
    padding: 4px;
    border-radius: 50%;
  }
}

@keyframes bounce {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(2px);
  }
}
