// .cart-icon {
//   width: 45px;
//   height: 45px;
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   cursor: pointer;

//   .shopping-icon {
//     width: 24px;
//     height: 24px;
//   }

//   .item-count {
//     position: absolute;
//     font-size: 10px;
//     font-weight: bold;
//     bottom: 12px;
//   }
// }
.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%; /* Adding border radius for a circular shape */
  background-color: #f8f9fa; /* Adding background color */
  transition: background-color 0.3s ease; /* Adding transition for hover effect */

  &:hover {
    background-color: #e9ecef; /* Changing background color on hover */
  }

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  .item-count {
    position: absolute;
    font-size: 12px; /* Adjusting font size */
    font-weight: bold;
    bottom: 8px; /* Adjusting bottom position */
    right: 8px; /* Adjusting right position */
    background-color: #007bff; /* Adding background color for item count */
    color: #fff; /* Changing text color */
    padding: 4px; /* Adding padding */
    border-radius: 50%; /* Making item count circle */
  }
}
