.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centering items vertically */
  margin-bottom: 25px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .logo-container {
    width: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-right: 1px solid #ddd;
  }

  .options {
    flex-grow: 1; /* Allowing options to grow and take up remaining space */
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 0 15px; /* Adjusted padding */
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      color: #333;
      transition: color 0.3s;

      &:hover {
        color: #007bff;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
