// .homepage {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 20px 80px;
// }
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
  background-color: #f9f9f9; /* Light background color */
}

// /* Further enhancements can be applied to specific elements within .homepage */
// .homepage {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 20px 80px;
//   background-color: #f9f9f9; /* Light background color */
//   font-family: 'Roboto', sans-serif; /* Modern font family */
//   color: #333; /* Dark text color */
// }

// /* Add more styling to specific elements within .homepage */
